{% extends 'base-card.html' %}

{% block title %}Join Routine!{% endblock %}

{% block content %}

<div align="center">

    <h1>Can't find what you are looking for {{ user.username }}? Let's make something new!</h1>

    <div class="mt-5">
        <form action="/workout/add" method="POST">
            <button class="btn btn-primary">
                Create New Workout
            </button>
        </form>
    </div>

    <hr>

    <h1>Check these out {{ user.username }}!</h1>

    <div class="mt-5">

        {% for workout in workouts %}
            <div class="mb-5">
                <h4>{{workout.description}}</h4>
                <p>by {{workout.author.username}}</p>

            </div>
        {% endfor %}
        
    </div>

</div>

{% endblock %}