
/* Styles on top of boostrap */

.logo {
  font-size: large;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0,173,238);
}

h1 {
  color: hsl(0, 0%, 80%);
  font-family: 'Saira', sans-serif;
  font-weight: 100;
}

body {
  background-color: hsl(0, 0%, 7%);
}

.card {
  box-shadow: 10px 10px 10px hsl(0, 0%, 4%); border-radius: 20px;
  background-image: linear-gradient(hsl(0, 0%, 11%), hsl(0, 0%, 9%));
  border-width: 0px;
  transition: all .2s ease-in-out;
}

.card-main {
  box-shadow: 10px 10px 10px hsl(0, 0%, 4%); border-radius: 20px;
  background-image: linear-gradient(hsl(0, 0%, 11%), hsl(0, 0%, 9%));
  border-width: 0px;
  padding: 20px;
}

.card:hover {
  box-shadow: 10px 10px 10px hsl(0, 0%, 4%); border-radius: 20px;
  background-image: linear-gradient(hsl(0, 0%, 15%), hsl(0, 0%, 9%));
  /* transform: scale(1.01); */
}

.logo {
  color: rgb(0,173,238);
  font-size: 40px;
  font-family: 'Saira', sans-serif;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
}

.btn {
  border-radius: 10px;
}

.btn-danger {
  background-color: rgb(233,106,128);
  border: rgb(233,106,128);
}

.btn-primary {
  background-color: rgb(0,173,238);
  border: rgb(0,173,238);
}

label {
  color: hsl(0, 0%, 80%);
}

.form-control {
  background-color: hsl(0, 0%, 20%);
  border-color: hsl(0, 0%, 22%);
  color: hsl(0, 0%, 80%);
}
.form-control:focus {
  background-color: hsl(0, 0%, 22%);
  border-color: hsl(0, 0%, 24%);
  color: hsl(0, 0%, 80%);
}

hr {
  height: 1px;
  background-image: linear-gradient(90deg, hsl(0, 0%, 80%), hsl(0, 0%, 50%));
  border: 0;
}

a {
  color: rgb(0,173,238);
  text-decoration: none;
}
