{% extends 'base.html' %}

{% block title %}Join Routine!{% endblock %}

{% block content %}

<div class="my-4">
    <h1 class="mb-4">Let's do this {{ user.username }}!</h1>
    <form action="/logout" method="POST" class="mx-1">
        <button class="btn btn-secondary">
            LOG OUT
        </button>
    </form>
</div>

<hr>

<div class="my-1 w-50 mx-auto">
    <div class="my-3 card" style="box-shadow: 3px 3px 6px rgba(200, 200, 200, 1); border-radius: 20px;">
        <div class="card-body">
            <img class="w-50" src="{{user.image_url}}" alt="{{user.username}}'s user image.">
            <a href="/user/{{ user.id }}">
                <p>{{ user.username }}</p>
            </a>
            {% if user.bio %}
                <p>{{ user.bio }}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="my-1 w-50 mx-auto">
    <div class="my-3 card" style="box-shadow: 3px 3px 6px rgba(200, 200, 200, 1); border-radius: 20px;">
        <div class="card-body">
            <form action="/workout/add" method="GET">
                <h5 class="card-title">Not seeing something you like?</h5>
                <button id="create-new" class="btn btn-primary">
                    Create New Workout
                </button>
            </form>
        </div>
    </div>
</div>

{% for workout in my_workouts %}

<div class="my-1 w-50 mx-auto">
    <div class="my-3 card" style="box-shadow: 3px 3px 6px rgba(200, 200, 200, 1); border-radius: 20px;">
        <div class="card-body">
            <h5 class="card-title">{{ workout.description }}</h5>
            <h6 class="crd-subtitle text-muted">by {{workout.author.username}}</h6>

            <div class="my-3 mx-5">
                <ol>
                    {% for goal in workout.goals %}
                    <li class="text-start">{{goal.exercise.name}}</li>
                    <ul style="padding-left: 1em;">
                        {% if goal.goal_reps %}
                        <li class="text-start text-muted" style="list-style-type: none;">Reps: {{goal.goal_reps}}</li>
                        {% endif %}
                        {% if goal.goal_sets %}
                        <li class="text-start text-muted" style="list-style-type: none;">Sets: {{goal.goal_sets}}</li>
                        {% endif %}
                        {% if goal.goal_time_sec %}
                        <li class="text-start text-muted" style="list-style-type: none;">Time: {{goal.goal_time_sec}}</li>
                        {% endif %}
                        {% if goal.goal_weight_lbs %}
                        <li class="text-start text-muted" style="list-style-type: none;">Weight: {{goal.goal_weight_lbs}}</li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </ol>
            </div>

            <form action="/workout/{{workout.id}}/step" method="GET" style="display: inline;" class="mx-1">
                <button class="btn btn-success mt-2">Start This Workout!</button>
            </form>

            <form action="/workout/{{workout.id}}/edit" method="POST" style="display: inline;" class="mx-1">
                <button class="btn btn-secondary mt-2">Edit</button>
            </form>

            <form action="/workout/{{workout.id}}/delete" method="POST" style="display: inline;" class="mx-1">
                <button class="btn btn-danger mt-2">Delete</button>
            </form>

        </div>
    </div>
</div>

{% endfor %}

<hr>

<div class="mx-5">
    <h1 class="m-4">Need inspiration? Check out these workouts!</h1>
</div>

{% for workout in workouts %}

<div class="my-1 w-50 mx-auto">
    <div class="my-3 card" style="box-shadow: 3px 3px 6px rgba(200, 200, 200, 1); border-radius: 20px;">
        <div class="card-body">
            <h5 class="card-title">{{ workout.description }}</h5>
            <h6 class="crd-subtitle text-muted">by {{workout.author.username}}</h6>

            <div class="my-3 mx-5">
                <ol>
                    {% for goal in workout.goals %}
                    <li class="text-start">{{goal.exercise.name}}</li>
                    <ul style="padding-left: 1em;">
                        {% if goal.goal_reps %}
                        <li class="text-start text-muted" style="list-style-type: none;">Reps: {{goal.goal_reps}}</li>
                        {% endif %}
                        {% if goal.goal_sets %}
                        <li class="text-start text-muted" style="list-style-type: none;">Sets: {{goal.goal_sets}}</li>
                        {% endif %}
                        {% if goal.goal_time_sec %}
                        <li class="text-start text-muted" style="list-style-type: none;">Time: {{goal.goal_time_sec}}</li>
                        {% endif %}
                        {% if goal.goal_weight_lbs %}
                        <li class="text-start text-muted" style="list-style-type: none;">Weight: {{goal.goal_weight_lbs}}</li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </ol>
            </div>

            <form action="/workout/{{workout.id}}/copy" method="POST" style="display: inline;" class="mx-1">
                <button class="btn btn-secondary mt-2">Copy This Workout</button>
            </form>

        </div>
    </div>
</div>

{% endfor %}

{% endblock %}