{% extends 'base.html' %}

{% block title %}Join Routine!{% endblock %}

{% block content %}

<div align="center">

    <h1>Let's do this {{ user.username }}!</h1>

    <div class="mt-5">
        <form action="/logout" method="POST">
            <button class="btn btn-primary">
                LOG OUT
            </button>
        </form>
        
    </div>

    <hr>

    <div class="col-lg-6 col-md-6 col-12">
      <div class="card user-card">
        <div class="card-inner">
          <div class="image-wrapper">
            <img src="{{ user.header_image_url }}" alt="" class="card-hero">
          </div>
          <div class="card-contents">
            <a href="/user/{{ user.id }}" class="card-link">
              <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" class="card-image">
              <p>{{ user.username }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
        <form action="/workout/add" method="GET">
            <button class="btn btn-primary">
                Create New Workout
            </button>
        </form>
    </div>

    <div class="mt-5">

        {% for workout in my_workouts %}
            <div class="mb-5">
                <h4>{{workout.description}}</h4>
                <p>by {{workout.author.username}}</p>

            </div>

            <form action="/workout/{{workout.id}}/delete" method="POST">
                <button class="btn btn-danger mt-2">Delete</button>
            </form>

        {% endfor %}
        
    </div>

    <hr>

    <h2>Need inspiration? Check out these workouts!</h2>

    <div class="mt-5">

        {% for workout in workouts %}
            <div class="mb-5">
                <h4>{{workout.description}}</h4>
                <p>by {{workout.author.username}}</p>

            </div>
        {% endfor %}
        
    </div>

</div>

{% endblock %}