<!-- {% extends 'base-card.html' %}

{% block title %}{{ form.form_name }}{% endblock %}

{% block content %}

<div align="center">

    <div class="w-25">

        <form method="POST">

            {{ form.hidden_tag() }}

            {% for nested in form.performance_records %}

            <div class="form-group">
                {{ nested.label(class_="mt-4") }}
                {{ nested(class_="form-control") }}
            </div>
            
            {% endfor %}

            <button class="btn btn-primary mt-2">Submit</button>

        </form>

    </div>

</div>
{% endblock %} -->