{% extends 'base-card.html' %}

{% block title %}{{ form.form_name }}{% endblock %}

{% block content %}

<div class="my-4">
    <h1 class="mx-4 mb-4">{{ form.form_title }}</h1>

    <form id="main" method="POST" class="mx-5">

        {{ form.hidden_tag() }}

        {% if goal.goal_reps > 1 %}
        <div class="form-group mx-5" align="start">

            {{form.performance_reps.label(class_="mt-4")}}
            {{form.performance_reps(class_="form-control")}}
            <label for="performance_reps" class="text-secondary">Goal Reps: {{goal.goal_reps}}</label>
            {% for err in form.performance_reps.errors %}
            <p class="text-danger mb-0">{{err}}</p>
            {% endfor %}

        </div>
        {% endif %}

        {% if goal.goal_sets > 1 %}
        <div class="form-group mx-5" align="start">

            {{form.performance_sets.label(class_="mt-4")}}
            {{form.performance_sets(class_="form-control")}}
            <label for="performance_sets" class="text-secondary">Goal Sets: {{goal.goal_sets}}</label>
            {% for err in form.performance_sets.errors %}
            <p class="text-danger mb-0">{{err}}</p>
            {% endfor %}

        </div>
        {% endif %}

        {% if goal.goal_time_sec %}
        <div class="form-group mx-5" align="start">

            {{form.performance_time_sec.label(class_="mt-4")}}
            {{form.performance_time_sec(class_="form-control")}}
            <label for="performance_time_sec" class="text-secondary">Goal Time: {{goal.goal_time_sec}}</label>
            {% for err in form.performance_time_sec.errors %}
            <p class="text-danger mb-0">{{err}}</p>
            {% endfor %}
            
        </div>
        {% endif %}

        {% if goal.goal_weight_lbs %}
        <div class="form-group mx-5" align="start">

            {{form.performance_weight_lbs.label(class_="mt-4")}}
            {{form.performance_weight_lbs(class_="form-control")}}
            <label for="performance_weight_lbs" class="text-secondary">Goal Weight: {{goal.goal_weight_lbs}}</label>
            {% for err in form.performance_weight_lbs.errors %}
            <p class="text-danger mb-0">{{err}}</p>
            {% endfor %}
            
        </div>
        {% endif %}

        {% if goal.goal_distance_miles %}
        <div class="form-group mx-5" align="start">

            {{form.performance_distance_miles.label(class_="mt-4")}}
            {{form.performance_distance_miles(class_="form-control")}}
            <label for="performance_distance_miles" class="text-secondary">Goal Distance: {{goal.goal_distance_miles}}</label>
            {% for err in form.performance_distance_miles.errors %}
            <p class="text-danger mb-0">{{err}}</p>
            {% endfor %}
            
        </div>
        {% endif %}

    </form>

        {% if form.previous_text %}
        <form action="/previous" method="GET" style="display: inline;"><button type="submit" class="btn btn-secondary mt-2" style="display: inline;">{{ form.previous_text }}</button></form>
        {% endif %}

        <button type="submit" class="btn {{form.next_style}} mt-2" form="main" style="display: inline;">{{ form.next_text }}</button>

    <hr>

    <form action="/finish" method="GET"><button type="submit" class="btn btn-danger mt-2">Quit</button></form>

</div>

{% endblock %}