{% extends 'base-card.html' %}

{% block title %}Goal {{ goal.name }} on {{ goal.workout.description }} Performance{% endblock %}

{% block content %}

{% if goal.goal_reps %}

<div class="m-4">
    <h2>Goal Reps</h2>
    <canvas id="goal_reps"></canvas>
</div>

<hr>

{% endif %}

{% if goal.goal_sets %}

<div class="m-4">
    <h2>Goal Sets</h2>
    <canvas id="goal_sets"></canvas>
</div>

<hr>

{% endif %}

{% if goal.goal_weight_lbs %}

<div class="m-4">
    <h2>Goal Weight - (LBS.)</h2>
    <canvas id="goal_weight_lbs"></canvas>
</div>

<hr>

{% endif %}

{% if goal.goal_time_sec %}

<div class="m-4">
    <h2>Goal Time - (SEC.)</h2>
    <canvas id="goal_time_sec"></canvas>
</div>

<hr>

{% endif %}

<div class="mt-5">

    <table>
        <tr>
            <th></th>
            <th>Reps</th>
            <th>Sets</th>
            <th>Time (seconds)</th>
            <th>Weight (lbs.)</th>
        </tr>

        <tr>
            <th>GOAL:</th>
            <th>{{goal.goal_reps}}</th>
            <th>{{goal.goal_sets}}</th>
            <th>{{goal.goal_time_sec}}</th>
            <th>{{goal.goal_weight_lbs}}</th>
        </tr>

    {% for record in performance %}

        <tr>
            <td>{{ record.date}}</td>
            <td>{{ record.performance_reps }}</td>
            <td>{{ record.performance_sets }}</td>
            <td>{{ record.performance_time_sec }}</td>
            <td>{{ record.performance_weight_lbs }}</td>
        </tr>

    {% endfor %}

    </table>
    
</div>

<script>const goal_id = '{{goal.id}}'</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/performance.js"></script>

{% endblock %}