{% extends 'base-card.html' %}

{% block title %}Goal {{ goal.name }} on {{ goal.workout.description }} Performance{% endblock %}

{% block content %}


<div class="mt-5">

    <table>
        <tr>
            <th></th>
            <th>Reps</th>
            <th>Sets</th>
            <th>Time (seconds)</th>
            <th>Weight (lbs.)</th>
        </tr>

        <tr>
            <th>GOAL:</th>
            <th>{{goal.goal_reps}}</th>
            <th>{{goal.goal_sets}}</th>
            <th>{{goal.goal_time_sec}}</th>
            <th>{{goal.goal_weight_lbs}}</th>
        </tr>

    {% for record in performance %}

        <tr>
            <td>{{ record.date}}</td>
            <td>{{ record.performance_reps }}</td>
            <td>{{ record.performance_sets }}</td>
            <td>{{ record.performance_time_sec }}</td>
            <td>{{ record.performance_weight_lbs }}</td>
        </tr>

    {% endfor %}

    </table>
    
</div>

{% endblock %}