{% extends 'base-card.html' %}

{% block title %}All Goals on {{ workout.description }} Performance{% endblock %}

{% block content %}

{% for goal in workout.goals %}

    <div class="mt-5">

        <table>
            <tr>
                <th></th>
                <th>Reps</th>
                <th>Sets</th>
                <th>Time (seconds)</th>
                <th>Weight (lbs.)</th>
            </tr>

            <tr>
                <th>GOAL:</th>
                <th>{{goal.goal_reps}}</th>
                <th>{{goal.goal_sets}}</th>
                <th>{{goal.goal_time_sec}}</th>
                <th>{{goal.goal_weight_lbs}}</th>
            </tr>

        {% for performance in performance_records[goal.id] %}

            <tr>
                <td>{{ performance.date}}</td>
                <td>{{ performance.performance_reps }}</td>
                <td>{{ performance.performance_sets }}</td>
                <td>{{ performance.performance_time_sec }}</td>
                <td>{{ performance.performance_weight_lbs }}</td>
            </tr>

        {% endfor %}

        </table>
        
    </div>

{% endfor %}

{% endblock %}