<div align="center">

<div class="mt-5">

        <div class="mb-5">
            <h1>{{workout.description}}</h1>
            <p>by {{workout.owner.username}}</p>

        </div>
    
</div>

<div class="mt-5">

    {% for goal in workout.goals %}

    <div class="mb-5">
        {{goal.exercise.name}}
        {{goal.goal_reps}}
        {{goal.goal_sets}}
        {{goal.goal_time_sec}}
        {{goal.goal_weight_lbs}}

        <a href="/goal/{{goal.id}}/edit">
            <button class="btn btn-primary mt-2">Edit</button>
        </a>

        <a href="/goal/{{goal.id}}/delete">
            <button class="btn btn-danger mt-2">Delete</button>
        </a>

    </div>
    {% endfor %}

</div>

</div>

{% extends 'base-form.html' %}